<div class="container">
  <h2 class="title">Round {{roundNumber}}</h2>

  
{{errorMessage}}

  <div class="container-group">

      {{#each gameList}}
        
        <div class="match">

            <div class="team1">
              <img src="{{this.picture_local}}" alt="">
              <p class="teamName">{{this.team_local}}</p>
            </div>

            <div class="pool">
              <p class="prediction">{{this.result}}</p>
            </div>

          <div class="team2">
            <img src="{{this.picture_visitor}}" alt="">
            <p class="teamName">{{this.team_visitor}}</p>
          </div>

        </div>

      {{/each}}
      </div>
      <a href="/group/{{groupId}}">
        <button class="btn-group2" type="button">Return to Rounds</button>
      </a>
      
  </div>
</div>