<div>
  <h2>Round {{roundNumber}}</h2>
  <h3>See results</h3>

  <select name="rounds-past" size="3">

    <option>Round1</option>
    <option>Round2</option>
    <option>Round3</option>

  </select>

{{#each userList}}
  {{this.username}}........{{this.score}}
{{/each}}


<div>

  {{#each gameList}}

    <div>
      <div>
        <img src="" alt="">
        <p>{{this.team_local}}</p>
      </div>
      <div>
        <p>{{this.goals_local}} - {{this.goals_visitor}}</p>
      </div>
      <div>
        <img src="" alt="">
        <p>{{this.team_visitor}}</p>
      </div>
    </div>

  {{/each}}

</div>


  <h2>Raking Round x</h2>


 <ol>
  {{#each userList}}
 
    <li><p>{{this.username}}</p><p>{{puntos}}</p></li>
    
  {{/each}}
  </ol>


</div>