<div class="container">
  <h2 >Round {{roundNumber}}</h2>
  <div>
    <p>1</p> <p>X</p> <p>2</p>
  </div>
  
{{errorMessage}}

  <div class="container-group">
      {{#each gameList}}
        
        <div class="match">
          <img src="" alt="">
          <p>{{this.team_local}}</p>
          <p>Your prediction:{{this.result}}</p>
          <img src="" alt="">
          <p>{{this.team_visitor}}</p>
        </div>

      {{/each}}
      </div>
      <button type="submit">Bet</button>
      
    </form>
  </div>
</div>