<div class="container">
  <h2 class="title">Round {{roundNumber}}</h2>

  
{{errorMessage}}

  <div class="container-group">
    <form action="/round/{{roundNumber}}" method="POST">

      {{#each gameList}}
        
        <div class="match">

          <div class="team1">
            <img src="{{this.picture_local}}" alt="">
            <p class="teamName">{{this.team_local}}</p>
          </div>

          <div class="pool">
          
            <input type="radio" id="gameChoice1-{{@index}}" name="game{{@index}}" value="1">
            <label for="gameChoice1-{{@index}}">1</label>

            <input type="radio" id="gameChoiceX-{{@index}}" name="game{{@index}}" value="X" checked>
            <label for="gameChoiceX-{{@index}}">X</label>

            <input type="radio" id="gameChoice2-{{@index}}" name="game{{@index}}" value="2">
            <label for="gameChoice2-{{@index}}">2</label>
          </div>

        <div class="team2">
          <img src="{{this.picture_visitor}}" alt="">
          <p class="teamName">{{this.team_visitor}}</p>
        </div>

        </div>

      {{/each}}
      </div>
      <button class="btn-group2" type="submit">Send your prediction</button>
      
    </form>
  </div>
</div>